Repository IBM/covid19-india-data, pull requests merged in 2021-11, with the labels that each got.

#74 added UK data
  README.md
  data_extractor/bulletin_download/main.py
  data_extractor/bulletin_download/states/UK.py
  data_extractor/db/UK.py
  data_extractor/db/UK_tables/UK_case_info.py
  data_extractor/db/UK_tables/UK_district_wise_cases.py
  data_extractor/db/UK_tables/UK_district_wise_mucormycosis_cases.py
  data_extractor/db/UK_tables/UK_district_wise_testing.py
  data_extractor/db/UK_tables/UK_district_wise_vaccination.py
  data_extractor/db/UK_tables/UK_hospital_wise_deaths.py
  data_extractor/db/UK_tables/__init__.py
  data_extractor/db/UK_tables/db.py
  data_extractor/db/main.py
  data_extractor/local_extractor/main.py
  data_extractor/local_extractor/states/UK.py
  data_extractor/local_extractor/states/state_utils/UK_utils.py
  data_extractor/local_extractor/utils/common_utils.py
  data_extractor/run.py
  docs/images/UK_tables.png
  frontend/src/App.js
  frontend/src/config.json
  frontend/src/content/Uttarakhand/Uttarakhand.js
  frontend/src/content/Uttarakhand/_uttarakhand.scss
  frontend/src/content/Uttarakhand/index.js
  frontend/src/content/Uttarakhand/query.js
  serve_db/configs/dashboard.sql.json
Labels: backend, new state

#34 iss27
  .gitignore
  data_extractor/db/TN_tables/TN_case_parser.py
  data_extractor/db/TN_tables/case_examples/161.txt
  data_extractor/db/TN_tables/case_examples/162.txt
  data_extractor/db/TN_tables/case_examples/163.txt
  data_extractor/db/TN_tables/case_examples/164.txt
  data_extractor/db/TN_tables/case_examples/165.txt
  data_extractor/db/TN_tables/case_examples/34922.txt
  data_extractor/db/TN_tables/case_examples/34923.txt
  data_extractor/db/TN_tables/case_examples/34924.txt
  data_extractor/db/TN_tables/case_examples/34925.txt
  data_extractor/db/TN_tables/case_examples/34926.txt
  data_extractor/db/TN_tables/case_examples/34927.txt
  data_extractor/db/TN_tables/case_examples/34928.txt
  data_extractor/db/TN_tables/case_examples/34929.txt
  data_extractor/db/TN_tables/case_examples/34930.txt
  data_extractor/db/TN_tables/case_examples/34931.txt
  data_extractor/db/TN_tables/case_examples/34932.txt
  data_extractor/db/TN_tables/case_examples/34933.txt
  data_extractor/db/TN_tables/case_examples/34934.txt
  data_extractor/db/TN_tables/case_examples/34935.txt
  data_extractor/db/TN_tables/case_examples/34936.txt
  data_extractor/db/TN_tables/case_examples/34937.txt
  data_extractor/db/TN_tables/case_examples/34938.txt
  data_extractor/db/TN_tables/case_examples/34939.txt
  data_extractor/db/TN_tables/case_examples/34940.txt
  data_extractor/db/TN_tables/case_examples/34941.txt
Labels: enhancement, backend

#64 Kerala
  .deploy/dataextractor/run.sh
  .setup/setup_mac.sh
  README.md
  data_extractor/bulletin_download/main.py
  data_extractor/bulletin_download/states/KL.py
  data_extractor/db/KL.py
  data_extractor/db/KL_tables/KL_contact_travel_cumulative.py
  data_extractor/db/KL_tables/KL_contact_travel_new.py
  data_extractor/db/KL_tables/KL_critical_patients.py
  data_extractor/db/KL_tables/KL_cumulative_summary.py
  data_extractor/db/KL_tables/KL_cumulative_summary_t_minus_one.py
  data_extractor/db/KL_tables/KL_daily_summary.py
  data_extractor/db/KL_tables/KL_district_abstract.py
  data_extractor/db/KL_tables/KL_district_case_info.py
  data_extractor/db/KL_tables/KL_district_death_info.py
  data_extractor/db/KL_tables/KL_individual_death_info.py
  data_extractor/db/KL_tables/KL_psychosocial_support.py
  data_extractor/db/KL_tables/KL_surveillance_info.py
  data_extractor/db/KL_tables/KL_testing_cumulative.py
  data_extractor/db/KL_tables/KL_testing_new.py
  data_extractor/db/KL_tables/KL_travel_surveillance.py
  data_extractor/db/KL_tables/__init__.py
  data_extractor/db/KL_tables/db.py
  data_extractor/db/main.py
  data_extractor/local_extractor/main.py
  data_extractor/local_extractor/states/KL.py
  data_extractor/run.py
  frontend/src/App.js
  frontend/src/components/BasicElement/BasicElement.js
  frontend/src/components/Info/Info.js
  frontend/src/components/Info/_info.scss
  frontend/src/components/PageHeader/PageHeader.js
  frontend/src/config.json
  frontend/src/content/AnalysisPage/AnalysisPage.js
  frontend/src/content/ContributingPage/ContributingPage.js
  frontend/src/content/DataAccessPage/DataAccessPage.js
  frontend/src/content/Delhi/query.js
  frontend/src/content/Haryana/query.js
  frontend/src/content/Karnataka/query.js
  frontend/src/content/Kerala/Kerala.js
  frontend/src/content/Kerala/_kerala.scss
  frontend/src/content/Kerala/index.js
  frontend/src/content/Kerala/query.js
  frontend/src/content/Maharashtra/query.js
  frontend/src/content/Telangana/query.js
  frontend/src/content/Uttarakhand/query.js
  frontend/src/content/WestBengal/query.js
  serve_db/configs/dashboard.sql.json
Labels: priority, backend, new state

#96 Tasks page
  .gitignore
  README.md
  frontend/package.json
  frontend/public/tasks/aa.png
  frontend/public/tasks/aggr.png
  frontend/public/tasks/cv.png
  frontend/public/tasks/nl2.png
  frontend/public/tasks/parse.png
  frontend/public/tasks/translation.png
  frontend/src/App.js
  frontend/src/app.scss
  frontend/src/components/Info/Info.js
  frontend/src/components/PageHeader/PageHeader.js
  frontend/src/content/ContributingPage/ContributingPage.js
  frontend/src/content/ContributingPage/_contributing-page.scss
  frontend/src/content/Kerala/query.js
  frontend/src/content/LandingPage/LandingPage.js
  frontend/src/content/Punjab/query.js
  frontend/src/content/TasksPage/TasksPage.js
  frontend/src/content/TasksPage/_tasks-page.scss
  frontend/src/content/TasksPage/index.js
  frontend/src/content/TasksPage/tasks.js
  frontend/yarn.lock
Labels: documentation, frontend
